.header {
    /*  width: 600px;*/
    background: gainsboro;
}

h1 {
    color: white;

}

dt {
    display: block;
    float: left;
    background: gainsboro;
    width: 184px;
    height: 95px;
    text-align: center;

}

dd {
    margin-left: 150px;
    background: ghostwhite;
}

dl span {
    font-weight: 600;

}

dt:nth-of-type(4) {
    margin-top: -24px;
}

dt:nth-of-type(4) ~ dd {
    margin-top: -24px;
}

dt:nth-of-type(5) ~ dd {
    margin-top: 0px;
}

dt:nth-of-type(4) + dd span {

    display: inline-block;
    margin-left: 36px;

}

.span3{
    margin-left: 2px;
    margin-top: 26px;
    display: inline-block;
}



